
body {
    font-family: 'Zen Maru Gothic', sans-serif;
}

.fs-light {
    font-weight: 300;
}

.fs-regular {
    font-weight: 400;
}

.fs-bold {
    font-weight: 700;
}

.h-100vh {
    height: 100vh;
}
